.wrapper
  = render "shared/side_bar"
  .contents
    / 右枠・ヘッダー領域
    .header
      .header__group
        .header__group__name
          = @group.name
        %ul.header__group__member-list
          Member：
          %li.header__group__member-list__member
            - @group.users.each do |user|
              = user.name
      =link_to edit_group_path(@group), class: "header__btn",data: {"turbolinks" => false} do
        Edit

    / 右枠・スクロール領域
    .chats
      = render partial: 'message', collection: @messages

    / 右枠・入力フォーム
    .form
      = form_for [@group, @message] do |f|
        .input-box
          = f.text_field :content, class: 'input-box__text', placeholder: 'type a message'
          = f.label :image, class: 'input-box__image' do
            = fa_icon 'image'
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'
