.sideber
  / 左枠・ヘッダー領域
  .header
    .box
      %h3.box__user
        = current_user.name
      %ul.box__menu
        %li.box__menu__neew-group
          = link_to root_path do
            = fa_icon 'edit'
        %li.box__menu__edit-user
          = link_to edit_user_path(current_user) do
            = fa_icon 'cog'
  / 左枠・スクロール領域
  .groups
    .group
      .group__name
        hogeGroup1
      .group__text
        nothing
    .group
      .group__name
        hogeGroup2
      .group__text
        nothing
    .group
      .group__name
        hogeGroup3
      .group__text
        nothing
